
.puzzle-piece {
  background-image: url("../img/pic1.jpg");
  background-repeat: repeat;
  border: 1px solid rgba(80, 80, 80, 0.3);
  position: absolute;
  z-index: 1;
}

.puzzle-blankPiece {
  background-image: none;
  background-color: white;
  position: absolute;
  z-index: 0;
}

#two {
  background-position: right top;
  left: 250px;
  position: absolute;
  top: 0px;
}

#three {
  background-position: left bottom;
  left: 0px;
  position: absolute;
  top:250px;
}

#four {
  background-position: right bottom;
  left:250px;
  position: absolute;
  top:250px;
}

.thumbnail {
  height: 200px;
  left: 700px;
  position: absolute;
  top: 400px;
  width: 200px;
}
